/* this is the primary color of the website
{#121B25}
{#4EA191}
*/

/* Header Section */

@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Header */

/* Navbar section */

* {
	font-family: "Josefin Sans", serif;
	font-optical-sizing: auto;
	font-style: normal;
	background-color: #121b25 !important;
}

body {
	font-family: custom;
}

.btn {
	text-transform: capitalize;
	background-color: #4ea191 !important;
	border-radius: 0;
	z-index: 20;
}

.nav-link {
	text-transform: capitalize;
}

.dropdown,
.dropdown-menu,
.dropdown-item {
	background-color: #242222a8 !important;
}

.dropdown-item {
	text-transform: capitalize;
	color: #fff;
}

.dropdown-item:hover {
	color: #ffffff91;
}

.bg-black {
	background-color: #000 !important;
}

.offset-lg-3 {
	margin-left: 25%;
}

.navbar-toggler {
	height: 9vh;
	width: 10vw;
	margin: 0 !important;
	padding: 0 !important;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white !important;
	background-color: white !important;
}

.navbar-toggler-icon {
	width: 5vw !important;
	color: white !important;
	background-color: white !important;
}

.btn-close {
	background-color: white !important;
}

/* for extra large */
@media only screen and (max-width: 991px) {
	.navbar-toggler-icon {
		width: 4vw !important;
		color: white !important;
		background-color: white !important;
	}

	.navbar-toggler {
		width: 9vw !important;
		height: 8vh !important;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 !important;
		padding: 0 !important;
		color: white !important;
		background-color: white !important;
	}

	.hide-on-large-screens {
		display: block;
	}
}

@media only screen and (min-width: 991px) {
	.hide-on-large-screens {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	.navbar-brand {
		width: 18vw !important;
	}

	.navbar-toggler-icon {
		width: 6vw !important;
		color: white !important;
		background-color: white !important;
	}

	.navbar-toggler {
		width: 9vw !important;
		height: 8vh !important;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 !important;
		padding: 0 !important;
		color: white !important;
		background-color: white !important;
	}

	* {
		background-color: #000;
	}

	.hide-on-large-screens {
		display: block;
	}
}

@media screen and (max-width: 375px) {
	.navbar-brand {
		width: 18vw !important;
	}

	.hide-on-large-screens {
		display: block;
	}
}
