/* this is the primary color of the website
{#121B25}
{#4EA191}
*/

/* Header Section */

@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Header */

/* Navbar section */

* {
	font-family: "Josefin Sans", serif;
	font-optical-sizing: auto;
	font-style: normal;
	background-color: #121b25 !important;
}

body {
	font-family: custom;
}

.btn {
	text-transform: capitalize;
	background-color: #4ea191 !important;
	border-radius: 0;
	z-index: 20;
}

.nav-link {
	text-transform: capitalize;
}

.border-bt {
	background-color: red !important;
}

.border-bt:hover {
	animation: border-bottom 5s infinite linear;
}

@keyframes border-bottom {
	0% {
		opacity: 0;
		border-bottom: 2px solid red;
	}

	50% {
		opacity: 0.5;
		border-bottom: 2px solid red;
	}

	100% {
		opacity: 1;
		border-bottom: 2px solid red;
	}
}

.offcanvas-body {
	overflow-y: visible;
}

.dropdown,
.dropdown-menu,
.dropdown-item {
	background-color: #242222a8 !important;
}

.dropdown-item {
	text-transform: capitalize;
	color: #fff;
}

.dropdown-item:hover {
	color: #ffffff91;
}

.bg-black {
	background-color: #000 !important;
}

.offset-lg-3 {
	margin-left: 25%;
}

.navbar-toggler {
	height: 9vh;
	width: 10vw;
	margin: 0 !important;
	padding: 0 !important;
	display: flex;
	justify-content: center;
	align-items: center;
	color: green !important;
	background-color: green !important;
}

.navbar-toggler-icon {
	width: 5vw !important;
	color: green !important;
	background-color: green !important;
}

.btn-close {
	background-color: white !important;
}

.bg-success {
	background-color: white !important;
}
/* media queries for nav*/

/* for extra large */
@media only screen and (max-width: 991px) {
	.navbar-toggler-icon {
		width: 4vw !important;
		height: 7vh;
		color: white !important;
		background-color: white !important;
	}

	.navbar-toggler {
		width: 9vw !important;
		height: 8vh !important;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 !important;
		padding: 0 !important;
		color: white !important;
		background-color: white !important;
	}

	.hide-on-large-screens {
		display: block;
	}
}

@media only screen and (min-width: 991px) {
	.hide-on-large-screens {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	.navbar-brand {
		width: 18vw !important;
	}

	.navbar-toggler-icon {
		width: 8vw !important;
		color: white !important;
		background-color: white !important;
	}

	.navbar-toggler {
		width: 9vw !important;
		height: 8vh !important;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 !important;
		padding: 0 !important;
		color: white !important;
		background-color: white !important;
	}

	* {
		background-color: #000;
		margin: 0 !important;
	}

	.hide-on-large-screens {
		display: block;
	}
}

@media screen and (max-width: 375px) {
	.navbar-brand {
		width: 23vw !important;
	}

	.hide-on-large-screens {
		display: block;
	}
}

/* for modal */

.modal-footer {
	justify-content: space-around;
}

.modal-content {
	border-radius: 20px !important;
}

.modal-header {
	justify-content: space-around;
}

.modal-dialog {
	background-color: #000 !important;
}

/* for form in modal   */

input::placeholder,
input {
	color: white !important;
}

input,
label,
.modal-title {
	text-transform: capitalize !important;
}

.d-flex {
	display: flex !important;
	justify-content: center !important;
	text-align: center !important;
	/* margin: 20px !important; */
	text-align: center !important;
}

.flex {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contain {
	height: 10vh;
	width: auto;
	background-color: white !important;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 2px;
}

.contain > span {
	background-color: white !important;
}

.contain > span.btn-success {
	background-color: #4ea191 !important;
	height: 10vh;
	min-width: 10vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-responsive {
	max-width: 100%;
	max-height: auto;
	display: block;
}
